body {
  font-size: 20px;
  background-color: rgb(37, 37, 37);
}

.lista {
  display: inline-block;
  background-color: beige;
  margin: 4px;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid rgb(68, 68, 255);
}
h1,
h2 {
  color: white;
  text-shadow: 2px 2px 1px rgb(46, 46, 237);
}
