<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login_post" method="post">
        <label for="name">Nome de usuário: </label>
        <input type="text" id="name" name="name">
        <label for="password">Senha: </label>
        <input type="password" name="password" id="password">
        <button type="submit">Fazer login</button>
    </form>
</body>
<script src="{{ url_for('static', filename = 'login_index.js') }}"></script>
</html>