<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Teste 1</title>
  </head>
  <body>
    <div id="lista-de-compras">
      <i><h1>LISTA DE COMPRAS:</h1></i>
  </div>
  <br>
  <div id="div-lista-compras-input"></div>
  <div id="lista-produtos-limpeza">
      <i><h2>PRODUTOS DE LIMPEZA:</h2></i>
      <br/>
  </div>
  <div id="div-lista-produtos-limpeza-input"></div>
  </body>
  <script src="{{ url_for('static', filename = 'list_index.js') }}"></script>
</html>